.header {
  box-sizing: border-box;
  height: auto;
  padding: 8px 4px 4px 8px;
  width: 100%;
  background-color: rgb(220, 228, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header > span {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.header img {
  height: 36px;
}

.header > span > .vertical-divider {
  color: grey;
  padding: 10px;
}

.header > span > .title {
  padding: 0 10px;
}

.header > span > img {
  padding-right: 10px;
}

.header > .right {
  padding-right: 340px;
}
