.sidebar {
  width: 340px;
  height: 100%;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgb(244, 245, 247);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-head {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.sidebar-head h1 {
  display: inline;
  font-size: 16px;
}

.sidebar-head div {
  display: inline;
  position: absolute;
  right: 10px;
}

.h-divider {
  width: 90%;
  border-bottom: 1px solid lightgrey;
  margin: 15px 0;
}
