.list-wrapper {
  width: 272px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list-wrapper:focus {
  outline-width: 0;
}

.list {
  background-color: rgb(235, 236, 240);
  border-radius: 3px;
  margin: 5px 4px;
  padding: 0 7px;
  vertical-align: top;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.list.last {
  background-color: lightgrey;
}

.list.last .add-list {
  background-color: lightgrey;
}

.list-title {
  margin: 0 15px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 8px;
  font-weight: 600;
  line-height: 10px;
}

.list-title > span {
  font-size: 14px;
}

textarea {
  resize: none;
  width: 200px;
  height: 30px;
}
