.board {
  background: url("../../assets/white_buildings.jpg");
  background-size: cover;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  height: 100%;
  overflow: auto;
}

.board-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
