.card {
  background-color: white;
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0 2px 2px lightgrey;
  white-space: normal;
}

.card .edit {
  visibility: hidden;
}

.card:hover {
  background-color: lightgrey;
}

.card:hover .edit {
  visibility: visible;
}
