.add-list {
  background-color: rgb(235, 236, 240);
  z-index: 1;
  margin: 5px 0px 10px 10px;
  color: grey;
}

.add-list textarea {
  display: block;
  width: 97%;
}

.add-list-following {
  width: 97%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.add-list-following div {
  display: inline;
}

.add-list-following button {
  background-color: rgb(90, 172, 68);
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  margin: 7px 5px;
}

.add-list-following span {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
