.nav-bar-svg {
    width: 24px;
    height: 24px;
}

.nav-bar img {
    height: 32px;
}

.nav-bar-btn {
    background-color: hsla(0,0%,100%,.3);
    color: white;
}

.nav-bar-btn span {
    display: block;
    padding: 0 5px;
}