.nav-bar {
    box-sizing: border-box;
    height: 40px;
    background: url('../../assets/trello_logo.png');
    background-color:rgb(141, 149, 158);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    margin: 0;
}

.nav-bar > span {
    display: inline-flex;
    white-space: nowrap;
}