.board-header-btn {
  border-radius: 3px;
  background-color: rgb(202, 211, 219);
  font-size: 14px;
  height: 32px;
  max-width: 400px;
  overflow: hidden;
  padding: 15px;
}

.btn-padding-left {
  padding-left: 10px;
}

.team-name {
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
}
