.sidebar-row {
  width: 100%;
  display: inline-flex;
  margin: 4px 0;
  align-items: center;
}

.sidebar-row:hover {
  background-color: lightgrey;
}

.leading-icon {
  padding: 0 20px;
  font-size: 20px;
}

.row-title {
  display: block;
  font-size: 15px;
  font-weight: 500;
}

.row-description {
  font-size: 14px;
  font-weight: 400;
  color: grey;
  padding-top: 3px;
  white-space: normal;
}
