body {
  margin: 0;
  font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
}

textarea,
input,
button,
select {
  font-family: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 3px;
  margin: 0 2px;
  display: inline-flex;
  align-items: center;
  padding: 3px;
}

button:hover {
  outline: none;
  box-shadow: none;
  background-color: lightgrey;
}
.app {
  height: 100vh;
  overflow: hidden;
}
